.timer {
  display: flex;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.field .value {
  font-size: 36px;
}

.field .label {
  text-transform: uppercase;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}
button:enabled {
  background-color: #007bff;
  cursor: pointer;
}

button:enabled:hover {
  background-color: #0056b3;
}
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
